h1{
    display: flex;
    align-items: center;
    
}

h1 p{
    font-size: 5rem;
    border-radius: 20%;
}
h1 img{
    width: 300px;
    height: 300px;
    margin-right: 10px;
    border-radius: 10%;
}
.container{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}
.btns{
    margin-left: 10px;
}
.btn {
    margin-right: 12px;
}


.add-task-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    width: 90%;
  }

.add-task-button {
    margin-left: auto;
  }

table {
    width: 80%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    padding: 10px;
    border: 1px solid black;
}

table, th,td{
    border-collapse: collapse;
    border: 4px solid black;
    text-align: center;
}


.modal {
    display: none; 
    position: fixed;  
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); 
    overflow: auto; 
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
    border-radius: 10px;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}